<!-- Formuluário -->
<form [formGroup]="formulario">
    <input type="text"   formControlName="nome" placeholder="Nome"  class="form-control">
    <input type="number" formControlName="idade" placeholder="Idade" class="form-control">

    <input type="button" (click)="cadastrar()" value="Cadastrar" class="btn btn-primary"   *ngIf="btnCadastrar">
    <input type="button" (click)="alterar()"   value="Alterar"   class="btn btn-warning"   *ngIf="!btnCadastrar">
    <input type="button" (click)="remover()"   value="Remover"   class="btn btn-danger"    *ngIf="!btnCadastrar">
    <input type="button" (click)="cancelar()"  value="Cancelar"  class="btn btn-secondary" *ngIf="!btnCadastrar">
</form>

<!-- Tabela -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Selecionar</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let v of vetor; let i = index">
            <td>{{i+1}}</td>
            <td>{{v.nome}}</td>
            <td>{{v.idade}}</td>
            <td><button class="btn btn-success" (click)="selecionar(i)">Selecionar</button></td>
        </tr>
    </tbody>
</table>